*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    background-color: white;
    width:900px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    border: 10px solid white;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
}
.form{
   
    display: grid;
    grid-template-columns: repeat(auto,minmax(200px ,1fr));
    margin: 10px ;
    font-weight: 600;
}
.heading{
    margin:30px 20px ;
    display: flex;
}
.heading h2{
    margin-top: 7px;
}

label{
    display: block;
  margin: 0.5rem 0;
  cursor: pointer;

}
input ,.role{
    padding: 5px 10px;
    border-radius: 5px;
    /* border-style: none; */
    border: 2px solid #ccc;
    width: 390px;
    background-color: white;
}
.textarea{
    grid-column: 1 / span 2;
}
.textarea textarea{
    width: 100%;
}
input:focus{
    outline:none;
}
.btn  {
    padding: 10px;
    float: left;
     width:90%;
    background-color: rgb(223, 30, 30);
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    /* transition: transform 0.4s, top 0.4s; */


}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow:0 2px 5px rgba(0,0,0,0.2) ;
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgb(223, 30, 30);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:0 5px 5px rgba(0,0,0,0.2) ;
}

@media screen and (max-width:810px) {
    .container{
        background-color: white;
        width:550px;
        margin: auto;
        margin-top: 15px;
        border-radius: 10px;
        border: 10px solid white;
    }
    .heading{
       font-size: 15px;
        
    }
    
    input ,.role{
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid #ccc;
        width: 100%;
        background-color: white;
    }
    .btn{
        margin: 15px 15px;
        align-content: center;
    }
    .textarea{
        grid-column: 1 / span 1;
    }
    
}
@media screen and (max-width:460px) {
    .container{
        width: 350px;
    }
}





